

/* Evita que o conteúdo fique oculto pelo header */
body {
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-top: 100px; /* Adiciona espaço suficiente para o header */
}

.container{
width: 100%;
    height: 80px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: space-between; /* Alinha os elementos corretamente */
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o header esteja acima de tudo */
}

.nav


/* Container do Formulário Responsivo */
.form-container {
    background-color: #1f1f1f;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.05);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* Ajuste dos Inputs */
.form-label {
    margin-bottom: 0.25rem;
    font-weight: 500;
}

.input-group-text {
    background-color: #020000;
    border: none;
}

/* Ajuste do Placeholder */
::placeholder {
    color: #cccccc;
    opacity: 1;
}

/* Botões Responsivos */
.btn-primary {
    background-color: #6e0823;
    border: none;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #810826;
}

/* Responsividade do formulário */
@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 1.5rem;
    }
}
