body {
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .form-container {
    background-color: #1f1f1f;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.05);
    width: 100%;
    max-width: 600px;
  }
  
  .form-label {
    margin-bottom: 0.25rem;
    font-weight: 500;
  }
  
  .input-group-text {
    background-color: #020000;
    border: none;
    color: rgb(7, 0, 0);
  }
  
 /* .form-control, .form-control:focus {
    background-color: #000000;
    border: none;
    color: rgb(0, 0, 0);
  }
  
  .btn-primary {
    background-color: #6e0823;
    border: none;
    font-weight: bold;
  }
  
  .btn-primary:hover {
    background-color: #810826;
  }
  */
  placeholder {
    color: #661313; /* tom cinza claro para melhor visibilidade */
    opacity: 1; /* força a visibilidade total */
  }

  