{% include "components/head.html"%}

<body class="bg-dark text-white"style="    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;">
  {% include "components/header.html"%}

  <div class="form-container">
    <h2 class="text-center mb-4">Registro de Dependente</h2>
    <form action="/CadastroDependentes" method="POST">
      <div class="row g-3">

        <div class="col-md-6">
          <label for="nome" class="form-label">Nome</label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-person"></i></span>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Seu nome completo" required>
          </div>
        </div>

        <div class="col-md-6">
          <label for="cpf" class="form-label">CPF</label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-credit-card"></i></span>
            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00" required>
          </div>
        </div>


        <div class="col-md-6">
          <label for="data_nascimento" class="form-label">Data de Nascimento</label>
          <div class="input-group">
            <span class="input-group-text"><i class="bi bi-calendar"></i></span>
            <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" required>
          </div>
        </div>

        <div class="col-md-6">
          <label for="sexo" class="form-label">Sexo</label>
          <select class="form-select" id="sexo" name="sexo">
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Outro">Outro</option>
          </select>
        </div>
      </div>

      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </div>
    </form>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>